In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import count, col, desc

In [3]:
spark=SparkSession.builder.master('local').appName('models_q3').getOrCreate()

In [4]:
from pyspark.sql.types import StructType, StructField, IntegerType, LongType

schema = StructType([
    StructField("movie id", IntegerType(), True),
    StructField("user id", IntegerType(), True),
    StructField("rating", IntegerType(), True),
    StructField("timestamp", LongType(), True)
])

print(schema)

StructType(List(StructField(movie id,IntegerType,true),StructField(user id,IntegerType,true),StructField(rating,IntegerType,true),StructField(timestamp,LongType,true)))

In [5]:
datapath='u.data'
dataframe=spark.read.csv(datapath,sep='\t',schema=schema, header=True)

In [6]:
dataframe.show()

+--------+-------+------+---------+
|movie id|user id|rating|timestamp|
+--------+-------+------+---------+
|     186|    302|     3|891717742|
|      22|    377|     1|878887116|
|     244|     51|     2|880606923|
|     166|    346|     1|886397596|
|     298|    474|     4|884182806|
|     115|    265|     2|881171488|
|     253|    465|     5|891628467|
|     305|    451|     3|886324817|
|       6|     86|     3|883603013|
|      62|    257|     2|879372434|
|     286|   1014|     5|879781125|
|     200|    222|     5|876042340|
|     210|     40|     3|891035994|
|     224|     29|     3|888104457|
|     303|    785|     3|879485318|
|     122|    387|     5|879270459|
|     194|    274|     2|879539794|
|     291|   1042|     4|874834944|
|     234|   1184|     2|892079237|
|     119|    392|     4|886176814|
+--------+-------+------+---------+
only showing top 20 rows

24/11/05 08:58:27 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: 196, 242, 3, 881250949
 Schema: movie id, user id, rating, timestamp
Expected: movie id but found: 196
CSV file: file:///home/hadoop/u.data

In [10]:
top_most_5_rated=dataframe.groupBy('movie id','rating').agg(count('movie id').alias('count of ratings for the movie')).where(dataframe['rating']==5).orderBy('count of ratings for the movie',ascending=False)
top_most_5_rated.show(10)

24/11/05 08:59:44 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: 196, 3
 Schema: movie id, rating
Expected: movie id but found: 196
CSV file: file:///home/hadoop/u.data

+--------+------+------------------------------+
|movie id|rating|count of ratings for the movie|
+--------+------+------------------------------+
|     416|     5|                           172|
|       7|     5|                           161|
|      90|     5|                           147|
|     592|     5|                           145|
|     747|     5|                           142|
|     312|     5|                           139|
|     551|     5|                           137|
|      13|     5|                           136|
|      59|     5|                           134|
|     450|     5|                           126|
+--------+------+------------------------------+
only showing top 10 rows

In [14]:
top_most_users=dataframe.groupBy('user id').agg(count('user id').alias('count of number of times user rated')).orderBy('count of number of times user rated',ascending=False)
top_most_users.show(10)

+-------+-----------------------------------+
|user id|count of number of times user rated|
+-------+-----------------------------------+
|     50|                                583|
|    258|                                509|
|    100|                                508|
|    181|                                507|
|    294|                                485|
|    286|                                481|
|    288|                                478|
|      1|                                452|
|    300|                                431|
|    121|                                429|
+-------+-----------------------------------+
only showing top 10 rows

24/11/05 09:00:36 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: 242
 Schema: user id
Expected: user id but found: 242
CSV file: file:///home/hadoop/u.data